@model DoorToDoor_Every_1.Models.Home

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Home</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DoorAnswered)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoorAnswered)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Interested)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Interested)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Visited)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Visited)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FollowUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FollowUp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
