@using DoorToDoor_Every_1.Operations
@using Humanizer
@model IEnumerable<DoorToDoor_Every_1.Models.FollowUp>

@{
    ViewData["Title"] = "Index";
    ViewData["Header"] = "Follow Ups";
}

<div id="address">
    <h4>For Address</h4>
    <p>@DatabaseManager.Address</p>
</div>
<hr />
<p>
    <a asp-action="Create">Create New</a> |
    <a asp-controller="Addresses" asp-action="Details/@DatabaseManager.AddressId">Back to Address</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Address ID</th>
            <th>
                Date Return
            </th>
            <th>
                Time Return
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            @if (item.AddressId == DatabaseManager.AddressId)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.AddressId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateReturn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TimeReturn)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
